#!/bin/sh
  
grep -E '^\s*SELINUXTYPE={{ cis_rhel7_selinux_policy }}\b' /etc/selinux/config \
&& \
sestatus | grep -E '^Loaded\s+policy\s+name:\s+{{ cis_rhel7_selinux_policy }}\b\s*$' \
|| \
(echo 'SELinux is not {{ cis_rhel7_selinux_policy }}.' ; exit 1)
