#!/bin/bash

sysctl net.ipv4.conf.all.log_martians | grep -E "^\s*net\.ipv4\.conf\.all\.log_martians\s*=\s*1\s*$"  \
&& \
sysctl net.ipv4.conf.default.log_martians | grep -E "^\s*net\.ipv4\.conf\.default\.log_martians\s*=\s*1\s*$"  \
&& \
grep "net\.ipv4\.conf\.all\.log_martians" /etc/sysctl.conf /etc/sysctl.d/* | grep -E "\s*net\.ipv4\.conf\.all\.log_martians\s*=\s*1\s*$" \
&& \
grep "net\.ipv4\.conf\.default\.log_martians" /etc/sysctl.conf /etc/sysctl.d/* | grep -E "\s*net\.ipv4\.conf\.default\.log_martians\s*=\s*1\s*$" \
|| \
exit 1


#Run the following commands and verify output matches: 
# sysctl net.ipv4.conf.all.log_martians net.ipv4.conf.all.log_martians = 1 
# sysctl net.ipv4.conf.default.log_martians net.ipv4.conf.default.log_martians = 1 
# grep "net\.ipv4\.conf\.all\.log_martians" /etc/sysctl.conf /etc/sysctl.d/* net.ipv4.conf.all.log_martians = 1 
# grep "net\.ipv4\.conf\.default\.log_martians" /etc/sysctl.conf /etc/sysctl.d/* net.ipv4.conf.default.log_martians = 1
