Hostname:
"{{ hostname_output.stdout }}"
Java Version:
"{{ java_output.stdout }}"
IP Address:
"{{ ip_output.stdout }}"
Ping Gateway:
"{{ ping_output.stdout }}"
NTP Status:
"{{ ntp_output.stdout }}"
Time Zone:
"{{ timezone_output.stdout }}"
DNS Lookup:
"{{ nslookup_output.stdout }}"
Mount Points:
"{{ mount_output.stdout }}"
Users Created:
"{{ username_output.stdout }}"
Anti Virus Status:
"{{ antivirus_output.stdout }}"
VM Tools Status:
"{{ vmtools_output.stdout }}"
