#!/bin/sh

sysctl kernel.randomize_va_space | grep "^kernel\.randomize_va_space\s*=\s*2\s*$" \
&& \
grep -r "^kernel\.randomize_va_space\s*=\s*2\s*$" /etc/sysctl.conf /etc/sysctl.d/ \
|| \
(echo '"kernel.randomize_va_space = 2" setting is not in place' ; exit 1)
