#!/bin/sh

sysctl net.ipv4.ip_forward | grep -E '^\s*net.ipv4.ip_forward\s*=\s*0\s*$' \
&& \
! (grep -E -s "^\s*net\.ipv4\.ip_forward\s*=\s*1" /etc/sysctl.conf /etc/sysctl.d/*.conf /usr/lib/sysctl.d/*.conf /run/sysctl.d/*.conf) \
|| \
(echo 'IP forwarding is not disabled' ; exit 1)
