#!/bin/sh

sysctl net.ipv4.tcp_syncookies | grep -E '^\s*net.ipv4.tcp_syncookies\s*=\s*1\s*$' \
&& \
[ `grep -E -s "^\s*net\.ipv4\.tcp_syncookies\s*=\s*[02]" /etc/sysctl.conf /etc/sysctl.d/*.conf /usr/lib/sysctl.d/*.conf /run/sysctl.d/*.conf | wc -l` -eq 0 ] \
|| \
(echo 'TCP SYN Cookies settings are wrong' ; exit 1)
