#!/bin/sh

result="none"
for usr in $(cut -d: -f1 /etc/shadow)
do
    [[ $(chage --list $usr | grep '^Last password change' | cut -d: -f2) < $(date) ]] && echo "$usr :$(chage --list $usr | grep '^Last password change' | cut -d: -f2)"

    [[ $(chage --list $usr | grep '^Last password change' | cut -d: -f2) > $(date) ]] && result='found'
done

[ $result == 'found' ] && exit 1 || exit 0

