#!/bin/sh

sysctl net.ipv4.conf.all.accept_redirects | grep -E '^\s*net.ipv4.conf.all.accept_redirects\s*=\s*0\s*$' \
&& \
sysctl net.ipv4.conf.default.accept_redirects | grep -E '^\s*net.ipv4.conf.default.accept_redirects\s*=\s*0\s*$' \
&& \
grep -E '^\s*net.ipv4.conf.all.accept_redirects\s*=\s*0\s*$' /etc/sysctl.conf /etc/sysctl.d/* \
&& \
grep -E '^\s*net.ipv4.conf.default.accept_redirects\s*=\s*0\s*$' /etc/sysctl.conf /etc/sysctl.d/* \
|| \
(echo 'ICMP redirects settings are wrong' ; exit 1)
