#!/bin/sh

grep -E '^\$FileCreateMode\s+0640\s*$' /etc/rsyslog.conf \
|| \
grep -E '^\$FileCreateMode\s+0640\s*$' /etc/rsyslog.d/*.conf \
|| \
(echo "rsyslog default file permissions is not right" ; exit 1)
